@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 24 100% 86%;
    --foreground: 24 25% 15%;
    --card: 24 100% 88%;
    --card-foreground: 24 25% 15%;
    --popover: 24 100% 88%;
    --popover-foreground: 24 25% 15%;
    --primary: 30 100% 60%;
    --primary-foreground: 30 80% 10%;
    --secondary: 30 100% 92%;
    --secondary-foreground: 30 25% 15%;
    --muted: 30 100% 92%;
    --muted-foreground: 24 20% 45%;
    --accent: 202 100% 60%;
    --accent-foreground: 202 80% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 100% 80%;
    --input: 30 100% 83%;
    --ring: 30 100% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24 15% 10%;
    --foreground: 24 100% 86%;
    --card: 24 15% 12%;
    --card-foreground: 24 100% 86%;
    --popover: 24 15% 12%;
    --popover-foreground: 24 100% 86%;
    --primary: 30 100% 60%;
    --primary-foreground: 30 80% 10%;
    --secondary: 24 15% 18%;
    --secondary-foreground: 24 100% 86%;
    --muted: 24 15% 18%;
    --muted-foreground: 24 100% 60%;
    --accent: 202 100% 60%;
    --accent-foreground: 202 80% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 15% 20%;
    --input: 24 15% 20%;
    --ring: 30 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
